numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
librosa==0.10.2.post1
soundfile==0.12.1
resampy==0.4.3
tensorflow==2.17.0
joblib==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
tqdm==4.66.4

# Za train_wav2vec2.py (transfer learning model).
torch
transformers>=4.44.0
accelerate
